<a href="https://colab.research.google.com/github/JoseAlbertoSeco/BlablacarCarpooling_DataMining/blob/main/notebooks/Agrupacion_Fechas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosAndalucia.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosCLM.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/df_CLMLocalizado.csv

--2021-12-29 21:39:02--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosAndalucia.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-29 21:39:03--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosAndalucia.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv [following]
--2021-12-29 21:39:03--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14101 (14K) [text/plain]
Saving to: ‘df_totalFestivosAndalucia.csv.11’

df_totalFestivosAnd 100%[===================>]  13.77K  --.-KB/s    in 0s

2021-12-29 21:39:03 (47.0 MB/s) - ‘df_totalFestivosAndalucia.csv.11’ saved [14101/14101]

--2021-12-29 21:39:03--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/df_totalFestivosCLM.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-29 21:39:03--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/df_totalFestivosCLM.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv [following]
--2021-12-29 21:39:03--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/df_totalFestivosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15334 (15K) [text/plain]
Saving to: ‘df_totalFestivosCLM.csv.11’

df_totalFestivosCLM 100%[===================>]  14.97K  --.-KB/s    in 0s

2021-12-29 21:39:03 (54.9 MB/s) - ‘df_totalFestivosCLM.csv.11’ saved [15334/15334]

--2021-12-29 21:39:03--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/interim/df_CLMLocalizado.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/df_CLMLocalizado.csv [following]
--2021-12-29 21:39:03--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/interim/df_CLMLocalizado.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/df_CLMLocalizado.csv [following]
--2021-12-29 21:39:03--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/interim/df_CLMLocalizado.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2681302 (2.6M) [text/plain]
Saving to: ‘df_CLMLocalizado.csv.11’

df_CLMLocalizado.cs 100%[===================>]   2.56M  --.-KB/s    in 0.04s

2021-12-29 21:39:04 (59.3 MB/s) - ‘df_CLMLocalizado.csv.11’ saved [2681302/2681302]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
andalucia = pd.read_csv("/content/drive/MyDrive/Datos/df_AndaluciaLocalizado.csv") 
andalucia = andalucia.drop(andalucia.columns[[0]], axis=1)
andalucia.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-01  2017      44  ...           Almería           Granada              No
1  2017-11-03  2017      44  ...           Almería           Granada              No
2  2017-11-05  2017      44  ...           Almería           Granada              No

[3 rows x 18 columns]

In [ ]:
clm = pd.read_csv("df_CLMLocalizado.csv") 
clm = clm.drop(clm.columns[[0]], axis=1)
clm.head(3)

          DIA   AÑO  SEMANA  ...  PROVINCIA_ORIGEN PROVINCIA_DESTINO INTERPROVINCIAL
0  2017-11-05  2017      44  ...          Albacete       Guadalajara              No
1  2017-11-12  2017      45  ...          Albacete       Guadalajara              No
2  2017-11-19  2017      46  ...          Albacete       Guadalajara              No

[3 rows x 18 columns]

In [ ]:
festivos_andalucia = pd.read_csv("df_totalFestivosAndalucia.csv")
festivos_andalucia = festivos_andalucia.drop(festivos_andalucia.columns[[0]], axis=1)
festivos_andalucia.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
1  2017-04-14  2017  ...    4  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...
2  2017-05-01  2017  ...    5  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...

[3 rows x 5 columns]

In [ ]:
festivos_clm.dtypes

Festivos     datetime64[ns]
AÑO                   int64
SEMANA                int64
MES                   int64
Municipio            object
Festivo              object
dtype: object

In [ ]:
festivos_clm = pd.read_csv("df_totalFestivosCLM.csv")
festivos_clm = festivos_clm.drop(festivos_clm.columns[[0]], axis=1)
festivos_clm.head(3)

     Festivos   AÑO  ...  MES                                          Municipio
0  2017-01-06  2017  ...    1  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
1  2017-04-14  2017  ...    4  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...
2  2017-05-01  2017  ...    5  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...

[3 rows x 5 columns]

# Introducir columna festivo

In [ ]:
shape = festivos_andalucia.shape
lenght = shape[0]

festivos = ['Si']*lenght
festivos_andalucia['Festivo'] = festivos
festivos_andalucia.head(3)

     Festivos   AÑO  ...                                          Municipio  Festivo
0  2017-01-06  2017  ...  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...       Si
1  2017-04-14  2017  ...  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...       Si
2  2017-05-01  2017  ...  ['Motril', 'Linares', 'Granada', 'Alcalá de Gu...       Si

[3 rows x 6 columns]

In [ ]:
shape = festivos_clm.shape
lenght = shape[0]

festivos = ['Si']*lenght
festivos_clm['Festivo'] = festivos
festivos_clm.head(3)

     Festivos   AÑO  ...                                          Municipio  Festivo
0  2017-01-06  2017  ...  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...       Si
1  2017-04-14  2017  ...  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...       Si
2  2017-05-01  2017  ...  ['Tomelloso', 'Alovera', 'Toledo', 'La Roda', ...       Si

[3 rows x 6 columns]

## Dias Festivos a Obtener

In [ ]:
import datetime

In [ ]:
def leap_year(year: str) -> bool:
  year = int(year)
  return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


def obtain_days(month: str, year: str):
    # Abril, junio, septiembre y noviembre tienen 30
    if month in ['4', '6', '9', '11']:
        return 30
    # Febrero depende de si es o no bisiesto
    if month == '2':
        if leap_year(year):
            return 29
        else:
            return 28
    else:
        # En caso contrario, tiene 31 días
        return 31

In [ ]:
def get_new_holidays(date, diff):
  if diff == 'one':
    days_month = obtain_days(str(date.month), str(date.year))
 
    month_str = ''
    year_str = ''
    day_str = ''

    day= int(date.day) +1
    if day > days_month:
      day_str = '01'
      if date.month+1 > 12:
        year_str = str(date.year+1)
        month_str = '01'
      else:
        month_str = str(date.month+1)
        year_str = str(date.year)
    else:
      day_str =str(date.day+1)
      year_str = str(date.year)
      month_str = str(date.month)

    date_str = year_str+'-'+month_str+'-'+day_str
    return datetime.datetime.strptime(date_str, '%Y-%m-%d')

  if diff == 'two':
    days_month = obtain_days(str(date.month), str(date.year))
 
    month_str1 = ''
    year_str1 = ''
    day_str1 = ''

    day=int(date.day) +1
    if day > days_month:
      day_str1 = '01'
      if date.month+1 > 12:
        year_str1 = str(date.year+1)
        month_str1 = '01'
      else:
        month_str1 = str(date.month+1)
        year_str1 = str(date.year)
    else:
      day_str1 =str(date.day+1)
      year_str1 = str(date.year)
      month_str1 = str(date.month)

    date_str1 = year_str1+'-'+month_str1+'-'+day_str1
 
    month_str2 = ''
    year_str2 = ''
    day_str2 = ''

    day = int(date.day)+2
    if day > days_month:
      day_str2 = '01'
      if date.month+1 > 12:
        year_str2 = str(date.year+1)
        month_str2 = '01'
      else:
        month_str2 = str(date.month+1)
        year_str2 = str(date.year)
    else:
      day_str2 =str(date.day+2)
      year_str2 = str(date.year)
      month_str2 = str(date.month)

    date_str2 = year_str2+'-'+month_str2+'-'+day_str2

    return datetime.datetime.strptime(date_str1, '%Y-%m-%d') ,datetime.datetime.strptime(date_str2, '%Y-%m-%d')

In [ ]:

def to_date(date):
  return datetime.datetime.strptime(date, '%Y-%m-%d')
  
def to_string(date):
  date_ret = date.strftime('%Y-%m-%d')
  return date_ret

def create_new_row(date, df):
  municipios = df['Municipio'].tolist()
  municipios=set(municipios)
  month = df['MES'].tolist()
  if len(month) == 1:
    month = str(month[0])
  year = df['AÑO'].tolist()
  year = str(year[0])
  week = str(df['SEMANA'].tolist()[0])

  dic = {'Festivos': date,'AÑO':year ,'SEMANA': week,'MES': month, 'Municipio':municipios, 'Festivo':'No'}
  return dic

def agrupar_festivos(festivos, autonomia):
  list_dates = festivos["Festivos"].tolist()
  sort_dates = [(lambda x: to_date(x))(x) for x in list_dates]
  sort_dates = sorted(sort_dates)

  counter = 1
  df = pd.DataFrame()
  new_df = festivos.copy()
  for i in sort_dates:
    if counter < len(sort_dates):
      difference =  abs(i - sort_dates[counter])
      if difference == datetime.timedelta(days=2):
        date1, date2 = get_new_holidays(i, 'two')
        locate_date = str(to_string(i))

        df = festivos.loc[festivos['Festivos'] == locate_date]
        
        dic1 = create_new_row(date1, df)
        dic2 = create_new_row(date2, df)
        new_df= new_df.append(dic1, ignore_index=True)
        new_df = new_df.append(dic2, ignore_index=True)
        
      if difference == datetime.timedelta(days=1):
        date = get_new_holidays(i, 'one')
        sort_dates.append(date)

        locate_date = str(to_string(i))

        df = festivos.loc[festivos['Festivos'] == locate_date]
        dic= create_new_row(date, df)
        new_df = new_df.append(dic, ignore_index=True)
      counter += 1
  
  final_dates = [(lambda x: to_string(x))(x) for x in sort_dates]

  return new_df

In [ ]:
print(festivos_clm.shape)
clm_full_festivos = agrupar_festivos(festivos_clm, clm)
print(clm_full_festivos.shape)
clm_full_festivos.tail(5)

(166, 6)
(216, 6)

                Festivos   AÑO SEMANA MES   Municipio Festivo
211  2019-09-03 00:00:00  2019     35   9  {Torrijos}      No
212  2019-09-08 00:00:00  2019     36   9   {Alovera}      No
213  2017-08-17 00:00:00  2017     33   8    {Seseña}      No
214  2018-08-17 00:00:00  2018     33   8    {Seseña}      No
215  2019-08-17 00:00:00  2019     33   8    {Seseña}      No

In [ ]:
clm_full_festivos[clm_full_festivos['Festivo']=='No']

                Festivos  ... Festivo
166  2017-01-24 00:00:00  ...      No
167  2017-02-15 00:00:00  ...      No
168  2017-02-16 00:00:00  ...      No
169  2017-05-02 00:00:00  ...      No
170  2017-05-03 00:00:00  ...      No
171  2017-05-04 00:00:00  ...      No
172  2017-05-20 00:00:00  ...      No
173  2017-05-21 00:00:00  ...      No
174  2017-08-16 00:00:00  ...      No
175  2017-08-17 00:00:00  ...      No
176  2017-09-01 00:00:00  ...      No
177  2017-09-02 00:00:00  ...      No
178  2017-09-03 00:00:00  ...      No
179  2017-09-08 00:00:00  ...      No
180  2017-12-07 00:00:00  ...      No
181  2017-12-08 00:00:00  ...      No
182  2018-01-24 00:00:00  ...      No
183  2018-02-15 00:00:00  ...      No
184  2018-02-16 00:00:00  ...      No
185  2018-03-30 00:00:00  ...      No
186  2018-05-02 00:00:00  ...      No
187  2018-05-03 00:00:00  ...      No
188  2018-05-04 00:00:00  ...      No
189  2018-05-20 00:00:00  ...      No
190  2018-05-21 00:00:00  ...      No
191  2018-08-16 00:00:00  ...      No
192  2018-08-17 00:00:00  ...      No
193  2018-09-01 00:00:00  ...      No
194  2018-09-02 00:00:00  ...      No
195  2018-09-03 00:00:00  ...      No
196  2018-09-08 00:00:00  ...      No
197  2018-12-07 00:00:00  ...      No
198  2018-12-08 00:00:00  ...      No
199  2019-01-24 00:00:00  ...      No
200  2019-02-15 00:00:00  ...      No
201  2019-02-16 00:00:00  ...      No
202  2019-05-02 00:00:00  ...      No
203  2019-05-03 00:00:00  ...      No
204  2019-05-04 00:00:00  ...      No
205  2019-05-20 00:00:00  ...      No
206  2019-05-21 00:00:00  ...      No
207  2019-08-16 00:00:00  ...      No
208  2019-08-17 00:00:00  ...      No
209  2019-09-01 00:00:00  ...      No
210  2019-09-02 00:00:00  ...      No
211  2019-09-03 00:00:00  ...      No
212  2019-09-08 00:00:00  ...      No
213  2017-08-17 00:00:00  ...      No
214  2018-08-17 00:00:00  ...      No
215  2019-08-17 00:00:00  ...      No

[50 rows x 6 columns]

In [ ]:
andalucia_full_festivos = agrupar_festivos(festivos_andalucia, andalucia)
andalucia_full_festivos.tail(5)

                Festivos   AÑO  ...                  Municipio Festivo
228  2019-10-09 00:00:00  2019  ...  {Roquetas del Mar, Cádiz}      No
229  2019-10-10 00:00:00  2019  ...     {Jerez de la Frontera}      No
230  2019-10-11 00:00:00  2019  ...     {Jerez de la Frontera}      No
231  2019-10-12 00:00:00  2019  ...     {Jerez de la Frontera}      No
232  2019-09-09 00:00:00  2019  ...                    {Mijas}      No

[5 rows x 6 columns]

In [ ]:
andalucia_full_festivos[andalucia_full_festivos['Festivo']=='No']

                Festivos  ... Festivo
164  2017-01-07 00:00:00  ...      No
165  2017-04-15 00:00:00  ...      No
166  2017-04-16 00:00:00  ...      No
167  2017-05-02 00:00:00  ...      No
168  2017-05-03 00:00:00  ...      No
..                   ...  ...     ...
228  2019-10-09 00:00:00  ...      No
229  2019-10-10 00:00:00  ...      No
230  2019-10-11 00:00:00  ...      No
231  2019-10-12 00:00:00  ...      No
232  2019-09-09 00:00:00  ...      No

[69 rows x 6 columns]

# Focalización de filas

In [ ]:
def get_coincidentes(days, df_autonomia):
  coincident_days = []
  for i in days:
    if df_autonomia[df_autonomia['DIA']==i].size != 0:
      coincident_days.append(i)

  return coincident_days

def crear_localizador_por_fechas(festivos, df_autonomia):
  # Obtención de todos los festivos de esa comunidad
  df_festivos = pd.DataFrame()
  df_festivos['Festivos'] = festivos['Festivos'].apply(lambda x: x.strftime('%Y-%m-%d'))
  dias_festivos = (df_festivos['Festivos'].values).tolist()

  # Obtener los viajes que coinciden con dias festivos, devuelve una lista
  dias_festivos = get_coincidentes(dias_festivos, df_autonomia)

  day = dias_festivos.pop()

  df_final = df_autonomia[df_autonomia['DIA']==day]
  
  for day in dias_festivos:
    dia = df_autonomia[df_autonomia['DIA']==day]
    df_final = pd.concat((df_final, dia))

 
  return df_final

In [ ]:
andalucia_full_festivos['Festivos'] = pd.to_datetime(andalucia_full_festivos['Festivos'], format="%Y-%m-%d")

In [ ]:
df_Andalucia_without_restriction = crear_localizador_por_fechas(andalucia_full_festivos, andalucia)
print(df_Andalucia_without_restriction.shape)
df_Andalucia_without_restriction.head(2)

(55279, 18)

             DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
820   2019-09-09  2019  ...            Granada               No
1549  2019-09-09  2019  ...            Granada               No

[2 rows x 18 columns]

In [ ]:
andalucia_full_festivos.dtypes

Festivos     datetime64[ns]
AÑO                  object
SEMANA               object
MES                  object
Municipio            object
Festivo              object
dtype: object

In [ ]:
clm_full_festivos['Festivos'] = pd.to_datetime(clm_full_festivos['Festivos'], format="%Y-%m-%d")

In [ ]:
df_clm_without_restriction = crear_localizador_por_fechas(clm_full_festivos, clm)
print(df_clm_without_restriction.shape)
df_clm_without_restriction

(3898, 18)

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
3736   2019-08-17  2019  ...           Albacete               Si
4774   2019-08-17  2019  ...        Ciudad Real               No
4845   2019-08-17  2019  ...        Ciudad Real               No
6273   2019-08-17  2019  ...             Toledo               No
8904   2019-08-17  2019  ...             Toledo               No
...           ...   ...  ...                ...              ...
14759  2018-08-17  2018  ...        Ciudad Real               No
15541  2018-08-17  2018  ...             Cuenca               No
17220  2018-08-17  2018  ...             Toledo               Si
18301  2018-08-17  2018  ...        Ciudad Real               No
18534  2018-08-17  2018  ...        Ciudad Real               No

[3898 rows x 18 columns]

In [ ]:
import re
def eleccion_de_municipios(df, festivos):
  municipios = festivos['Municipio']
  
  extract = "\[|\]|\,"
  lista = []
  for i, row in festivos.iterrows():
    muni = row['Municipio']
    muni = re.sub(extract,"", muni)
    muni = muni.split("'")
    for l in muni:
      if len(l) <=2:
        pass
      else:
        lista.append(l)

  lista = list(set(lista))

  lista_uno = lista[0]
  tarjeta_final = df.loc[df['ORIGEN'] == lista_uno]

  for i in lista:
    aux_filas = df.loc[df['ORIGEN'] == i]
    tarjeta_final = pd.concat((tarjeta_final, aux_filas))

  return tarjeta_final

In [ ]:
df_Andalucia = eleccion_de_municipios(df_Andalucia_without_restriction, festivos_andalucia)
print(df_Andalucia.shape)
df_Andalucia.head(3)

(36269, 18)

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
13033  2019-09-09  2019  ...            Granada               No
42152  2019-09-09  2019  ...            Sevilla               No
61410  2019-09-09  2019  ...              Cádiz               No

[3 rows x 18 columns]

In [ ]:
df_CLM = eleccion_de_municipios(df_clm_without_restriction, festivos_clm)
print(df_CLM.shape)
df_CLM.head(3)

(3653, 18)

              DIA   AÑO  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
12770  2019-08-17  2019  ...        Ciudad Real               No
15746  2018-05-01  2018  ...             Cuenca               No
20081  2018-10-12  2018  ...        Guadalajara               Si

[3 rows x 18 columns]

# Introducir festivos en los dataframes definitivos

In [ ]:
calendar_clm = clm_full_festivos.rename(columns={'Festivos':'DIA'})
df_CLM['DIA'] = pd.to_datetime(df_CLM['DIA'])

calendar_clm = calendar_clm.drop(['AÑO','SEMANA','MES','Municipio'], axis=1)

In [ ]:
df_CLM = pd.merge(calendar_clm, df_CLM, on='DIA')
df_CLM

            DIA Festivo  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
0    2017-11-01      Si  ...             Toledo               Si
1    2017-11-01      Si  ...             Toledo               No
2    2017-11-01      Si  ...        Ciudad Real               Si
3    2017-11-01      Si  ...        Ciudad Real               No
4    2017-11-01      Si  ...           Albacete               Si
...         ...     ...  ...                ...              ...
9254 2019-09-02      No  ...             Toledo               No
9255 2019-09-02      No  ...        Ciudad Real               Si
9256 2019-09-02      No  ...           Albacete               No
9257 2019-09-02      No  ...             Toledo               No
9258 2019-09-02      No  ...        Ciudad Real               Si

[9259 rows x 19 columns]

In [ ]:
df_CLM[df_CLM['Festivo'] == 'No']

            DIA Festivo  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
89   2017-12-08      No  ...             Toledo               Si
90   2017-12-08      No  ...        Ciudad Real               No
91   2017-12-08      No  ...        Ciudad Real               No
92   2017-12-08      No  ...             Toledo               Si
93   2017-12-08      No  ...        Ciudad Real               No
...         ...     ...  ...                ...              ...
9254 2019-09-02      No  ...             Toledo               No
9255 2019-09-02      No  ...        Ciudad Real               Si
9256 2019-09-02      No  ...           Albacete               No
9257 2019-09-02      No  ...             Toledo               No
9258 2019-09-02      No  ...        Ciudad Real               Si

[2111 rows x 19 columns]

In [ ]:
calendar_andalucia = andalucia_full_festivos.rename(columns={'Festivos':'DIA'})
df_Andalucia['DIA'] = pd.to_datetime(df_Andalucia['DIA'])

calendar_andalucia = calendar_andalucia.drop(['AÑO','SEMANA','MES','Municipio'], axis=1)

In [ ]:
df_Andalucia = pd.merge(calendar_andalucia, df_Andalucia, on='DIA')
df_Andalucia

             DIA Festivo  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
0     2017-11-01      Si  ...            Granada               No
1     2017-11-01      Si  ...            Sevilla               No
2     2017-11-01      Si  ...              Cádiz               No
3     2017-11-01      Si  ...             Málaga               Si
4     2017-11-01      Si  ...            Córdoba               No
...          ...     ...  ...                ...              ...
67398 2019-10-10      No  ...              Cádiz               No
67399 2019-10-10      No  ...             Málaga               No
67400 2019-10-10      No  ...            Almería               Si
67401 2019-10-10      No  ...            Granada               No
67402 2019-10-10      No  ...            Granada               No

[67403 rows x 19 columns]

In [ ]:
df_Andalucia[df_Andalucia['Festivo'] == 'No']

             DIA Festivo  ...  PROVINCIA_DESTINO  INTERPROVINCIAL
741   2017-12-08      No  ...            Granada               No
742   2017-12-08      No  ...            Sevilla               No
743   2017-12-08      No  ...              Cádiz               No
744   2017-12-08      No  ...             Málaga               Si
745   2017-12-08      No  ...               Jaén               No
...          ...     ...  ...                ...              ...
67398 2019-10-10      No  ...              Cádiz               No
67399 2019-10-10      No  ...             Málaga               No
67400 2019-10-10      No  ...            Almería               Si
67401 2019-10-10      No  ...            Granada               No
67402 2019-10-10      No  ...            Granada               No

[21733 rows x 19 columns]

In [ ]:
df_CLM.to_csv('df_CLM_festivos_agrupados.csv')
df_Andalucia.to_csv('df_Andalucia_festivos_agrupados.csv')

files.download('df_CLM_festivos_agrupados.csv')
files.download('df_Andalucia_festivos_agrupados.csv')