In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosAndalucia.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosCLM.csv

--2021-12-18 11:38:52--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/calendario.csv [following]
--2021-12-18 11:38:52--  https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/calendario.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6025 (5.9K) [text/plain]
Saving to: ‘calendario.csv’

calendario.csv      100%[===================>]   5.88K  --.-KB/s    in 0s

2021-12-18 11:38:53 (67.8 MB/s) - ‘calendario.csv’ saved [6025/6025]

--2021-12-18 11:38:53--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosAndalucia.csv
Resolving github.com (github.com)... 13.114.40.48
Connecting to github.com (github.com)|13.114.40.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/festividadesMunicipiosAndalucia.csv [following]
--2021-12-18 11:38:53--  https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/festividadesMunicipiosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3045 (3.0K) [text/plain]
Saving to: ‘festividadesMunicipiosAndalucia.csv’

festividadesMunicip 100%[===================>]   2.97K  --.-KB/s    in 0s

2021-12-18 11:38:53 (26.8 MB/s) - ‘festividadesMunicipiosAndalucia.csv’ saved [3045/3045]

--2021-12-18 11:38:53--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosCLM.csv
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/festividadesMunicipiosCLM.csv [following]
--2021-12-18 11:38:54--  https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/festividadesMunicipiosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1113 (1.1K) [text/plain]
Saving to: ‘festividadesMunicipiosCLM.csv’

festividadesMunicip 100%[===================>]   1.09K  --.-KB/s    in 0s

2021-12-18 11:38:54 (33.8 MB/s) - ‘festividadesMunicipiosCLM.csv’ saved [1113/1113]

In [ ]:
df_calendario = pd.read_csv('calendario.csv')
df_festividadesAndalucia = pd.read_csv('festividadesMunicipiosAndalucia.csv')
df_festividadesCLM = pd.read_csv('festividadesMunicipiosCLM.csv')

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Datos/blablacar_final.csv") 
df.head(7)

          DIA PAIS    ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
0  01/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
1  02/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
2  03/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
3  05/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
4  10/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
5  12/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
6  13/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco

[7 rows x 12 columns]

In [ ]:
df.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
CA_ORIGEN                object
CA_DESTINO               object
dtype: object

In [ ]:
df_festividadesCLM.head(5)

       Municipio       Fecha
0       Albacete  25/06/2018
1       Albacete  08/09/2018
2         Hellín  03/05/2018
3         Hellín  24/10/2018
4  Villarrobledo  16/02/2018

In [ ]:
df_festividadesAndalucia.head(5)

  Municipio       Fecha
0   Sevilla  30/05/2017
1   Sevilla  15/06/2017
2   Sevilla  18/04/2018
3   Sevilla  31/05/2018
4   Sevilla  08/05/2019

In [ ]:
df_festividadesAndalucia.dtypes

Municipio    object
Fecha        object
dtype: object

## Geolocalizando datos

In [ ]:
lista = df['CA_ORIGEN'].to_numpy().tolist()

lista_ccaa = []

for i in lista:
  if i not in lista_ccaa:
    lista_ccaa.append(i)

lista_ccaa

['Galicia',
 'Castilla-La Mancha',
 'Madrid',
 'Aragón',
 'Comunidad Valenciana',
 'Andalucía',
 'Extremadura',
 'Castilla y León',
 'Asturias (Principado de)',
 'Cataluña',
 'Rioja',
 'Cantabria',
 'Murcia',
 'Comunidad Foral de Navarra',
 'País Vasco',
 'Ceuta',
 'Canarias',
 'Balears (Illes)']

In [ ]:
def geolocalizar(df, ccaa):
  df_geolocalizado = df[df['CA_ORIGEN'] == ccaa]
  df_geolocalizado =  df_geolocalizado[df_geolocalizado['CA_DESTINO'] == ccaa]
  print(df_geolocalizado.shape)

  return df_geolocalizado

In [ ]:
df_andalucia = geolocalizar(df, 'Andalucía')
df.head(5)

(246055, 12)

          DIA PAIS    ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
0  01/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
1  02/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
2  03/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
3  05/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
4  10/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco

[5 rows x 12 columns]

In [ ]:
df_andalucia.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count       246055.000000  ...      246055.000000
mean            21.961883  ...           0.634943
std             37.693730  ...           1.405183
min             -1.000000  ...           0.000000
25%              4.000000  ...           0.000000
50%              9.000000  ...           0.000000
75%             23.000000  ...           1.000000
max            533.000000  ...          32.000000

[8 rows x 6 columns]

In [ ]:
df_clm = geolocalizar(df, 'Castilla-La Mancha')
df_clm.head(5)

(20862, 12)

               DIA PAIS  ...           CA_ORIGEN          CA_DESTINO
453525  05/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453526  12/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453527  19/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453528  01/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453529  10/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha

[5 rows x 12 columns]

In [ ]:
df_clm.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count        20862.000000  ...       20862.000000
mean            15.871441  ...           0.440945
std             14.728704  ...           0.823553
min              1.000000  ...           0.000000
25%              5.000000  ...           0.000000
50%             11.000000  ...           0.000000
75%             22.000000  ...           1.000000
max            147.000000  ...          10.000000

[8 rows x 6 columns]

# Extrayendo fechas

In [ ]:
def get_fechas(ccaa):
  nacionales = df_calendario[['Fiestas nacionales']]
  espeficico = df_calendario[[str(ccaa)]]

  fiestas = nacionales.merge(nacionales)
  fiestas = fiestas.rename(columns={'Fiestas nacionales':'Festivos'})
                          
  return fiestas

In [ ]:
festivos_andalucia = get_fechas('Andalucía')
festivos_andalucia.tail(7)

      Festivos
21  19/04/2019
22  01/05/2019
23  15/08/2019
24  12/10/2019
25  01/11/2019
26  06/12/2019
27  25/12/2019

In [ ]:
festivos_clm = get_fechas('Castilla-La Mancha')
festivos_clm.tail(7)

      Festivos
21  19/04/2019
22  01/05/2019
23  15/08/2019
24  12/10/2019
25  01/11/2019
26  06/12/2019
27  25/12/2019

## Uniendo días festivos

In [ ]:
def unificacion_festivos(df_festivos_ccaa, df_festivos_municipios):
  municipios = list(set(df_festivos_municipios['Municipio'].to_numpy().tolist()))
  numero_elementos_columna = (df_festivos_ccaa.shape)[0]
  columna_municipios = [municipios]*numero_elementos_columna
  df_festivos_totales = df_festivos_ccaa.copy()
  df_festivos_totales['Municipio'] = columna_municipios

  #print(df_festivos_totales['Municipio'].to_numpy().tolist()[0])
  df_festivos_municipios = df_festivos_municipios.rename(columns={'Fecha':'Festivos'})
  #print(df_festivos_municipios['Municipio'])

  df_festivos_totales = pd.concat((df_festivos_totales, df_festivos_municipios))

  return df_festivos_totales

In [ ]:
df_totalFestivosAndalucia = unificacion_festivos(festivos_andalucia, df_festividadesAndalucia)
df_totalFestivosAndalucia.head(3)

     Festivos                                          Municipio
0  06/01/2017  [Granada, Jaen, Marbella, Córdoba, Roquetas de...
1  14/04/2017  [Granada, Jaen, Marbella, Córdoba, Roquetas de...
2  01/05/2017  [Granada, Jaen, Marbella, Córdoba, Roquetas de...

In [ ]:
df_totalFestivosCLM = unificacion_festivos(festivos_clm, df_festividadesCLM)
df_totalFestivosCLM

      Festivos                                          Municipio
0   06/01/2017  [El Casar, Ciudad Real, Tarancón, Cabanillas d...
1   14/04/2017  [El Casar, Ciudad Real, Tarancón, Cabanillas d...
2   01/05/2017  [El Casar, Ciudad Real, Tarancón, Cabanillas d...
3   15/08/2017  [El Casar, Ciudad Real, Tarancón, Cabanillas d...
4   12/10/2017  [El Casar, Ciudad Real, Tarancón, Cabanillas d...
..         ...                                                ...
41  31/08/2018                                           Illescas
42  15/05/2018                                             Seseña
43  16/08/2018                                             Seseña
44  19/05/2018                                           Torrijos
45  01/09/2018                                           Torrijos

[74 rows x 2 columns]

# Eligiendo datos

In [ ]:
def get_coincidentes(days, df_autonomia):
  coincident_days = []
  for i in days:
    if df_autonomia[df_autonomia['DIA']==i].size != 0:
      coincident_days.append(i)

  return coincident_days

def crear_localizador_por_fechas(festivos, df_autonomia):
  # Obtención de todos los festivos de esa comunidad
  dias_festivos = (festivos['Festivos'].values).tolist()

  # Obtener los viajes que coinciden con dias festivos, devuelve una lista
  dias_festivos = get_coincidentes(dias_festivos, df_autonomia)
  print(len(list(set(dias_festivos))))

  df_final = df_autonomia[df_autonomia['DIA']==dias_festivos.pop()]
  for day in dias_festivos:
    dia = df_autonomia[df_autonomia['DIA']==day]
    df_final = pd.concat((df_final, dia))

 
  return df_final

def eleccion_de_municipios(df, festivos):
  municipios = festivos['Municipio']
  lista_municipios = municipios[1].to_numpy().tolist()
  lista = lista_municipios[0]

  tarjeta_final = df[df['ORIGEN'] == lista.pop()]

  for i in lista:
    
    aux_filas = df[df['ORIGEN'] == i]

    tarjeta_final = pd.concat((tarjeta_final, aux_filas))

  return tarjeta_final

In [ ]:
df_AndaluciaLocalizado = crear_localizador_por_fechas(df_totalFestivosAndalucia, df_andalucia)
df_AndaluciaLocalizado = eleccion_de_municipios(df_AndaluciaLocalizado, df_totalFestivosAndalucia )
print(df_AndaluciaLocalizado.shape)
df_AndaluciaLocalizado.head(5)

95
(24071, 12)

               DIA PAIS     ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
286748  28/08/2019   es  Algeciras  ...                 0  Andalucía   Andalucía
369219  28/08/2019   es  Algeciras  ...                 1  Andalucía   Andalucía
455593  28/08/2019   es  Algeciras  ...                 3  Andalucía   Andalucía
522130  28/08/2019   es  Algeciras  ...                 1  Andalucía   Andalucía
552584  28/08/2019   es  Algeciras  ...                 0  Andalucía   Andalucía

[5 rows x 12 columns]

In [ ]:
df_CLMLocalizado = crear_localizador_por_fechas(df_totalFestivosCLM, df_clm)
df_CLMLocalizado = eleccion_de_municipios(df_CLMLocalizado, df_totalFestivosCLM)
print(df_CLMLocalizado.shape)
df_CLMLocalizado.head(5)

53
(1583, 12)

               DIA PAIS  ...           CA_ORIGEN          CA_DESTINO
739213  25/12/2018   es  ...  Castilla-La Mancha  Castilla-La Mancha
719654  21/09/2018   es  ...  Castilla-La Mancha  Castilla-La Mancha
621442  01/09/2018   es  ...  Castilla-La Mancha  Castilla-La Mancha
707710  01/09/2018   es  ...  Castilla-La Mancha  Castilla-La Mancha
735450  01/09/2018   es  ...  Castilla-La Mancha  Castilla-La Mancha

[5 rows x 12 columns]

In [ ]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv

--2021-12-18 12:10:03--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/ccaa.csv [following]
--2021-12-18 12:10:03--  https://raw.githubusercontent.com/JoseAlbertoSeco/MineriaDatos/main/data/processed/ccaa.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 294083 (287K) [text/plain]
Saving to: ‘ccaa.csv’

ccaa.csv            100%[===================>] 287.19K  --.-KB/s    in 0.04s

2021-12-18 12:10:04 (7.31 MB/s) - ‘ccaa.csv’ saved [294083/294083]

In [ ]:
ccaa = pd.read_csv('ccaa.csv')

In [ ]:
def set_interprovincial_column(df, ccaa):
    column = []
    for i in range(len(df)):
        provincia_origen = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['ORIGEN']]['Provincia'].to_string(header=False, index=False)
        provincia_destino = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['DESTINO']]['Provincia'].to_string(header=False, index=False)

        if provincia_origen == provincia_destino:
            column.append("Si")
        else:
            column.append("No")

    df['INTERPROVINCIAL'] = column
    return df

In [ ]:
df_CLMLocalizado = set_interprovincial_column(df_CLMLocalizado, ccaa)
df_CLMLocalizado

               DIA PAIS  ...          CA_DESTINO INTERPROVINCIAL
739213  25/12/2018   es  ...  Castilla-La Mancha              No
719654  21/09/2018   es  ...  Castilla-La Mancha              No
621442  01/09/2018   es  ...  Castilla-La Mancha              No
707710  01/09/2018   es  ...  Castilla-La Mancha              No
735450  01/09/2018   es  ...  Castilla-La Mancha              Si
...            ...  ...  ...                 ...             ...
720695  12/03/2018   es  ...  Castilla-La Mancha              Si
751666  12/03/2018   es  ...  Castilla-La Mancha              No
706767  15/05/2018   es  ...  Castilla-La Mancha              No
720719  15/05/2018   es  ...  Castilla-La Mancha              Si
751679  15/05/2018   es  ...  Castilla-La Mancha              No

[1583 rows x 13 columns]

In [ ]:
df_AndaluciaLocalizado = set_interprovincial_column(df_AndaluciaLocalizado, ccaa)
df_AndaluciaLocalizado

               DIA PAIS     ORIGEN  ...  CA_ORIGEN  CA_DESTINO  INTERPROVINCIAL
286748  28/08/2019   es  Algeciras  ...  Andalucía   Andalucía               No
369219  28/08/2019   es  Algeciras  ...  Andalucía   Andalucía               No
455593  28/08/2019   es  Algeciras  ...  Andalucía   Andalucía               Si
522130  28/08/2019   es  Algeciras  ...  Andalucía   Andalucía               No
552584  28/08/2019   es  Algeciras  ...  Andalucía   Andalucía               Si
...            ...  ...        ...  ...        ...         ...              ...
370566  29/04/2019   es    Andújar  ...  Andalucía   Andalucía               No
561860  29/04/2019   es    Andújar  ...  Andalucía   Andalucía               No
672635  29/04/2019   es    Andújar  ...  Andalucía   Andalucía               No
287930  13/09/2019   es    Andújar  ...  Andalucía   Andalucía               No
908498  28/08/2018   es    Andújar  ...  Andalucía   Andalucía               No

[24071 rows x 13 columns]

Warning: total number of rows (24071) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (24071) exceeds max_rows (20000). Limiting to first (20000) rows.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
from google.colab import files

df_CLMLocalizado.to_csv('df_CLMLocalizado.csv')
df_AndaluciaLocalizado.to_csv('df_AndaluciaLocalizado.csv')

files.download('df_CLMLocalizado.csv')
files.download('df_AndaluciaLocalizado.csv')