# Geolocalización de las provincias de Castilla-La Mancha y Andalucía

## Carga de datos

In [1]:
import pandas as pd
import numpy as np

In [25]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosAndalucia.csv
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosCLM.csv

--2021-12-19 11:14:47--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/calendario.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/calendario.csv [following]
--2021-12-19 11:14:47--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/calendario.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/calendario.csv [following]
--2021-12-19 11:14:48--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/calendario.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6025 (5.9K) [text/plain]
Saving to: ‘calendario.csv.1’

calendario.csv.1    100%[===================>]   5.88K  --.-KB/s    in 0s

2021-12-19 11:14:48 (61.6 MB/s) - ‘calendario.csv.1’ saved [6025/6025]

--2021-12-19 11:14:48--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosAndalucia.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/festividadesMunicipiosAndalucia.csv [following]
--2021-12-19 11:14:48--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/festividadesMunicipiosAndalucia.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/festividadesMunicipiosAndalucia.csv [following]
--2021-12-19 11:14:48--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/festividadesMunicipiosAndalucia.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3045 (3.0K) [text/plain]
Saving to: ‘festividadesMunicipiosAndalucia.csv’

festividadesMunicip 100%[===================>]   2.97K  --.-KB/s    in 0s

2021-12-19 11:14:48 (27.3 MB/s) - ‘festividadesMunicipiosAndalucia.csv’ saved [3045/3045]

--2021-12-19 11:14:48--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/festividadesMunicipiosCLM.csv
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/festividadesMunicipiosCLM.csv [following]
--2021-12-19 11:14:48--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/festividadesMunicipiosCLM.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/festividadesMunicipiosCLM.csv [following]
--2021-12-19 11:14:49--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/festividadesMunicipiosCLM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3309 (3.2K) [text/plain]
Saving to: ‘festividadesMunicipiosCLM.csv’

festividadesMunicip 100%[===================>]   3.23K  --.-KB/s    in 0s

2021-12-19 11:14:49 (52.2 MB/s) - ‘festividadesMunicipiosCLM.csv’ saved [3309/3309]

In [26]:
df_calendario = pd.read_csv('calendario.csv')
df_festividadesAndalucia = pd.read_csv('festividadesMunicipiosAndalucia.csv')
df_festividadesCLM = pd.read_csv('festividadesMunicipiosCLM.csv')

## Breve visualización de los datos ha utilizar

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Datos/blablacar_basic.csv") 
df.head(7)

          DIA PAIS    ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
0  01/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
1  02/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
2  03/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
3  05/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
4  10/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
5  12/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
6  13/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco

[7 rows x 12 columns]

In [5]:
df.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
CA_ORIGEN                object
CA_DESTINO               object
dtype: object

In [6]:
df_festividadesCLM.head(5)

       Municipio       Fecha
0       Albacete  25/06/2018
1       Albacete  08/09/2018
2         Hellín  03/05/2018
3         Hellín  24/10/2018
4  Villarrobledo  16/02/2018

In [7]:
df_festividadesAndalucia.head(5)

  Municipio       Fecha
0   Sevilla  30/05/2017
1   Sevilla  15/06/2017
2   Sevilla  18/04/2018
3   Sevilla  31/05/2018
4   Sevilla  08/05/2019

In [8]:
df_festividadesAndalucia.dtypes

Municipio    object
Fecha        object
dtype: object

## Geolocalizando datos

Buscamos el nombre de las diferentes comunidades autónomas

In [9]:
lista = df['CA_ORIGEN'].to_numpy().tolist()

lista_ccaa = []

for i in lista:
  if i not in lista_ccaa:
    lista_ccaa.append(i)

lista_ccaa

['Galicia',
 'Castilla-La Mancha',
 'Madrid',
 'Aragón',
 'Comunidad Valenciana',
 'Andalucía',
 'Extremadura',
 'Castilla y León',
 'Asturias (Principado de)',
 'Cataluña',
 'Rioja',
 'Cantabria',
 'Murcia',
 'Comunidad Foral de Navarra',
 'País Vasco',
 'Ceuta',
 'Canarias',
 'Balears (Illes)']

Extraemos los viajes que se encuentran solo en las comunidades de Andalucía y CLm

In [10]:
def geolocalizar(df, ccaa):
  df_geolocalizado = df[df['CA_ORIGEN'] == ccaa]
  df_geolocalizado =  df_geolocalizado[df_geolocalizado['CA_DESTINO'] == ccaa]
  print(df_geolocalizado.shape)

  return df_geolocalizado

In [11]:
df_andalucia = geolocalizar(df, 'Andalucía')
df.head(5)

(246055, 12)

          DIA PAIS    ORIGEN  ... OFERTANTES_NUEVOS  CA_ORIGEN  CA_DESTINO
0  01/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
1  02/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
2  03/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
3  05/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco
4  10/11/2017   es  A Coruña  ...                 0    Galicia  País Vasco

[5 rows x 12 columns]

In [12]:
df_andalucia.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count       246055.000000  ...      246055.000000
mean            21.961883  ...           0.634943
std             37.693730  ...           1.405183
min             -1.000000  ...           0.000000
25%              4.000000  ...           0.000000
50%              9.000000  ...           0.000000
75%             23.000000  ...           1.000000
max            533.000000  ...          32.000000

[8 rows x 6 columns]

In [19]:
df_clm = geolocalizar(df, 'Castilla-La Mancha')
df_clm.head(5)

(20862, 12)

               DIA PAIS  ...           CA_ORIGEN          CA_DESTINO
453525  05/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453526  12/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453527  19/11/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453528  01/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha
453529  10/12/2017   es  ...  Castilla-La Mancha  Castilla-La Mancha

[5 rows x 12 columns]

In [20]:
df_clm.describe()

       ASIENTOS_OFERTADOS  ...  OFERTANTES_NUEVOS
count        20862.000000  ...       20862.000000
mean            15.871441  ...           0.440945
std             14.728704  ...           0.823553
min              1.000000  ...           0.000000
25%              5.000000  ...           0.000000
50%             11.000000  ...           0.000000
75%             22.000000  ...           1.000000
max            147.000000  ...          10.000000

[8 rows x 6 columns]

## Añadiendo Provincias

In [15]:
!wget https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv

--2021-12-19 10:56:09--  https://github.com/JoseAlbertoSeco/MineriaDatos/raw/main/data/processed/ccaa.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/ccaa.csv [following]
--2021-12-19 10:56:10--  https://github.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/raw/main/data/processed/ccaa.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/ccaa.csv [following]
--2021-12-19 10:56:10--  https://raw.githubusercontent.com/JoseAlbertoSeco/BlablacarCarpooling_DataMining/main/data/processed/ccaa.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 299179 (292K) [text/plain]
Saving to: ‘ccaa.csv’

ccaa.csv            100%[===================>] 292.17K  --.-KB/s    in 0.02s

2021-12-19 10:56:10 (13.0 MB/s) - ‘ccaa.csv’ saved [299179/299179]

In [16]:
ccaa = pd.read_csv('ccaa.csv')
ccaa

                  Municipio   Autonomía    Provincia
0          Alegría-Dulantzi  País Vasco  Araba/Álava
1                   Amurrio  País Vasco  Araba/Álava
2                   Aramaio  País Vasco  Araba/Álava
3                Artziniega  País Vasco  Araba/Álava
4                   Armiñón  País Vasco  Araba/Álava
...                     ...         ...          ...
8111           Las Pedrosas      Aragón     Zaragoza
8112           Los Pintanos      Aragón     Zaragoza
8113  La Puebla de Alfindén      Aragón     Zaragoza
8114             La Vilueña      Aragón     Zaragoza
8115               La Zaida      Aragón     Zaragoza

[8116 rows x 3 columns]

En este metodo añadimos la provincia en la que empieza y acaba cada viaje así como una columna que nos dice si el viaje es interprovincial o no. Se ha elegido realizar esta operación en este momento dado que la complejidad de la operación es elevada y si la realizamos con un conjunto de datos mayor podría tardar demasiado tiempo en ejecutarse.

In [17]:
def set_interprovincial_column(df, ccaa):
    column = []
    provincia_destino = []
    provincia_origen = []
    for i in range(len(df)):
        elemento = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['ORIGEN']]['Provincia'].to_string(header=False, index=False)
        sinespacio = elemento[1:len(elemento)]
        provincia_origen.append(sinespacio)
        elemento = ccaa.loc[ccaa['Municipio'] == df.iloc[i]['DESTINO']]['Provincia'].to_string(header=False, index=False)
        sinespacio = elemento[1:len(elemento)]
        provincia_destino.append(sinespacio)

        if provincia_origen[-1] == provincia_destino[-1]:
            column.append("Si")
        else:
            column.append("No")

    df['PROVINCIA_ORIGEN'] = provincia_origen
    df['PROVINCIA_DESTINO'] = provincia_destino
    df['INTERPROVINCIAL'] = column
    return df

Tarjetas de cada comunidad autonoma elegida:


*   Andalucía
*   Castilla-La Mancha

In [21]:
df_CLMLocalizado = set_interprovincial_column(df_clm, ccaa)
df_CLMLocalizado

                DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
453525   05/11/2017   es  ...       Guadalajara              No
453526   12/11/2017   es  ...       Guadalajara              No
453527   19/11/2017   es  ...       Guadalajara              No
453528   01/12/2017   es  ...       Guadalajara              No
453529   10/12/2017   es  ...       Guadalajara              No
...             ...  ...  ...               ...             ...
1047972  26/01/2018   es  ...            Cuenca              No
1047973  11/10/2019   es  ...            Toledo              Si
1047978  06/09/2019   es  ...          Albacete              No
1048343  14/07/2018   es  ...       Guadalajara              Si
1048345  10/08/2018   es  ...       Guadalajara              Si

[20862 rows x 15 columns]

Warning: total number of rows (20862) exceeds max_rows (20000). Limiting to first (20000) rows.

In [22]:
df_AndaluciaLocalizado = set_interprovincial_column(df_andalucia, ccaa)
df_AndaluciaLocalizado

                DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
285649   01/11/2017   es  ...           Granada              No
285650   03/11/2017   es  ...           Granada              No
285651   05/11/2017   es  ...           Granada              No
285652   06/11/2017   es  ...           Granada              No
285653   10/11/2017   es  ...           Granada              No
...             ...  ...  ...               ...             ...
1047945  31/10/2019   es  ...           Sevilla              Si
1047946  18/10/2019   es  ...            Huelva              No
1048020  03/08/2018   es  ...           Sevilla              No
1048349  08/06/2018   es  ...            Huelva              No
1048409  06/07/2018   es  ...           Sevilla              Si

[246055 rows x 15 columns]

In [23]:
df_CLMLocalizado['DIA'] = pd.to_datetime(df_CLMLocalizado['DIA'])
df_AndaluciaLocalizado['DIA'] = pd.to_datetime(df_AndaluciaLocalizado['DIA'])

In [24]:
from google.colab import files

df_CLMLocalizado.to_csv('df_CLMLocalizado.csv')
df_AndaluciaLocalizado.to_csv('df_AndaluciaLocalizado.csv')

files.download('df_CLMLocalizado.csv')
files.download('df_AndaluciaLocalizado.csv')

# Localizando festivos

Guardamos en dos dataframes diferentes todos los festivos pertenecientes a los días en los que hay una festividad en Andalucía y CLM

In [27]:
def get_fechas(ccaa):
  nacionales = df_calendario[['Fiestas nacionales']]
  espeficico = df_calendario[[str(ccaa)]]

  fiestas = nacionales.merge(nacionales)
  fiestas = fiestas.rename(columns={'Fiestas nacionales':'Festivos'})
                          
  return fiestas

In [28]:
festivos_andalucia = get_fechas('Andalucía')
festivos_andalucia.tail(7)

      Festivos
21  19/04/2019
22  01/05/2019
23  15/08/2019
24  12/10/2019
25  01/11/2019
26  06/12/2019
27  25/12/2019

In [29]:
festivos_clm = get_fechas('Castilla-La Mancha')
festivos_clm.tail(7)

      Festivos
21  19/04/2019
22  01/05/2019
23  15/08/2019
24  12/10/2019
25  01/11/2019
26  06/12/2019
27  25/12/2019

## Uniendo días festivos

En este paso unificamos los festivos autonómicos y por municipio, como resultado obtenemos un dataframe del tipo Festivo/Municipio, donde municipio es una lista con todos los municipios en los que ese día es fiesta. Esto es un paso intermedio para comparar una vez realizado el cluster de festivos.

In [30]:
def unificacion_festivos(df_festivos_ccaa, df_festivos_municipios):
  municipios = list(set(df_festivos_municipios['Municipio'].to_numpy().tolist()))
  numero_elementos_columna = (df_festivos_ccaa.shape)[0]
  columna_municipios = [municipios]*numero_elementos_columna
  df_festivos_totales = df_festivos_ccaa.copy()
  df_festivos_totales['Municipio'] = columna_municipios

  df_festivos_municipios = df_festivos_municipios.rename(columns={'Fecha':'Festivos'})

  df_festivos_totales = pd.concat((df_festivos_totales, df_festivos_municipios))

  return df_festivos_totales

In [31]:
df_totalFestivosAndalucia = unificacion_festivos(festivos_andalucia, df_festividadesAndalucia)
df_totalFestivosAndalucia.head(3)

     Festivos                                          Municipio
0  06/01/2017  [Marbella, Málaga, Almuñécar, Granada, Puente ...
1  14/04/2017  [Marbella, Málaga, Almuñécar, Granada, Puente ...
2  01/05/2017  [Marbella, Málaga, Almuñécar, Granada, Puente ...

In [32]:
df_totalFestivosCLM = unificacion_festivos(festivos_clm, df_festividadesCLM)
df_totalFestivosCLM

       Festivos                                          Municipio
0    06/01/2017  [Albacete, Talavera de la Reina, La Roda, Alcá...
1    14/04/2017  [Albacete, Talavera de la Reina, La Roda, Alcá...
2    01/05/2017  [Albacete, Talavera de la Reina, La Roda, Alcá...
3    15/08/2017  [Albacete, Talavera de la Reina, La Roda, Alcá...
4    12/10/2017  [Albacete, Talavera de la Reina, La Roda, Alcá...
..          ...                                                ...
133  01/09/2017                                           Torrijos
134  19/05/2018                                           Torrijos
135  01/09/2018                                           Torrijos
136  19/05/2019                                           Torrijos
137  01/09/2019                                           Torrijos

[166 rows x 2 columns]

# Eligiendo datos

In [33]:
def get_coincidentes(days, df_autonomia):
  coincident_days = []
  for i in days:
    if df_autonomia[df_autonomia['DIA']==i].size != 0:
      coincident_days.append(i)

  return coincident_days

def crear_localizador_por_fechas(festivos, df_autonomia):
  # Obtención de todos los festivos de esa comunidad
  dias_festivos = (festivos['Festivos'].values).tolist()

  # Obtener los viajes que coinciden con dias festivos, devuelve una lista
  dias_festivos = get_coincidentes(dias_festivos, df_autonomia)
  print(len(list(set(dias_festivos))))

  df_final = df_autonomia[df_autonomia['DIA']==dias_festivos.pop()]
  for day in dias_festivos:
    dia = df_autonomia[df_autonomia['DIA']==day]
    df_final = pd.concat((df_final, dia))

 
  return df_final

def eleccion_de_municipios(df, festivos):
  municipios = festivos['Municipio']
  lista_municipios = municipios[1].to_numpy().tolist()
  lista = lista_municipios[0]

  tarjeta_final = df[df['ORIGEN'] == lista.pop()]

  for i in lista:
    
    aux_filas = df[df['ORIGEN'] == i]

    tarjeta_final = pd.concat((tarjeta_final, aux_filas))

  return tarjeta_final

A continuación se crea una tarjeta de datos con los dias en donde es festivo de Andalucía.

In [34]:
df_AndaluciaLocalizadoFestivos = crear_localizador_por_fechas(df_totalFestivosAndalucia, df_AndaluciaLocalizado)
df_AndaluciaLocalizadoFestivos = eleccion_de_municipios(df_AndaluciaLocalizadoFestivos, df_totalFestivosAndalucia )
print(df_AndaluciaLocalizadoFestivos.shape)
df_AndaluciaLocalizadoFestivos.head(5)

96
(24305, 15)

              DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
287548 2019-08-28   es  ...           Granada              No
370365 2019-08-28   es  ...           Sevilla              No
475313 2019-08-28   es  ...             Cádiz              No
561651 2019-08-28   es  ...            Málaga              No
651690 2019-08-28   es  ...              Jaén              No

[5 rows x 15 columns]

In [35]:
df_CLMLocalizadoFestivos = crear_localizador_por_fechas(df_totalFestivosCLM, df_CLMLocalizado)
df_CLMLocalizadoFestivos = eleccion_de_municipios(df_CLMLocalizadoFestivos, df_totalFestivosCLM)
print(df_CLMLocalizadoFestivos.shape)
df_CLMLocalizadoFestivos.head(5)

86
(2669, 15)

              DIA PAIS  ... PROVINCIA_DESTINO INTERPROVINCIAL
628445 2017-01-11   es  ...          Albacete              Si
713453 2017-08-12   es  ...            Toledo              No
628469 2017-12-25   es  ...          Albacete              Si
725795 2017-12-25   es  ...       Ciudad Real              No
628511 2018-03-29   es  ...          Albacete              Si

[5 rows x 15 columns]

In [36]:
from google.colab import files

df_CLMLocalizadoFestivos.to_csv('df_CLMLocalizadoFestivos.csv')
df_AndaluciaLocalizadoFestivos.to_csv('df_AndaluciaLocalizadoFestivos.csv')

files.download('df_CLMLocalizadoFestivos.csv')
files.download('df_AndaluciaLocalizadoFestivos.csv')